@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap:wrap;
    font-size: 20px;
    background-color: white;
    justify-content: center;

     font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
}
nav{
    padding: 10px 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 100%
  
}

div {
   

    height: 5%;
    display: flex;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding: 30px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    border-radius: 12px;


    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

@media screen and (max-width: 483px) {
    div{
    
    width: 80%;
    font-size: 16px;
    margin: 50px 0;
    padding: 10px;
    }
}